<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>基隆景點瀏覽器</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/callApi.js"></script>
</head>
<body>
<div class=".container">
  <h1>請選擇地區</h1>
  <div class="row">
    <div class="col-12 col-lg-3 col-xl-1">
      <button type="button" class="btn btn-secondary btn-block" onclick="callGetItemApi('中山區')">中山區</button>
    </div>
    <div class="col-12 col-lg-3 col-xl-1">
      <button type="button" class="btn btn-secondary btn-block" onclick="callGetItemApi('信義區')">信義區</button>
    </div>
    <div class="col-12 col-lg-3 col-xl-1">
      <button type="button" class="btn btn-secondary btn-block" onclick="callGetItemApi('仁愛區')">仁愛區</button>
    </div>
    <div class="col-12 col-lg-3 col-xl-1">
      <button type="button" class="btn btn-secondary btn-block" onclick="callGetItemApi('中正區')">中正區</button>
    </div>
    <div class="col-12 col-lg-3 col-xl-1">
      <button type="button" class="btn btn-secondary btn-block" onclick="callGetItemApi('安樂區')">安樂區</button>
    </div>
    <div class="col-12 col-lg-3 col-xl-1">
      <button type="button" class="btn btn-secondary btn-block" onclick="callGetItemApi('七堵區')">七堵區</button>
    </div>
    <div class="col-12 col-lg-3 col-xl-1">
      <button type="button" class="btn btn-secondary btn-block" onclick="callGetItemApi('暖暖區')">暖暖區</button>
    </div>
  </div>
  </br>
  <div class="display" id="accordion"></div>

</div>





</body>
</html>